.navbar-brand {
  padding-left:30px;
  padding-right:30px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}


h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}

h2 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 25px;
    line-height: 55px;
}

h4, th {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 15px;
    line-height: 10px;
}
 
p, li, button, td, a {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
}

.col-md-4, .col-md-8, .col-md-6 {
    background-color: #f5f5f5;
    padding-right: 25px;
    padding-left: 25px;
}

.table {
        background-color: #c0c0c0;
}

#slider {
    background-color: white;
}

.index2 {
    padding-top: 25px;

} 

body { 
    background-color: #c5d08a;

}

.parent_btn {
    background-color: #c5d08a;
}

.leftturtle { 
    padding-left: 30px;
}
