.centering-div{
    /*border: 1px solid black;*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 73%;
}

.current-openings{
    width: 40% ;
    position: relative;
}

.languages-spoken{
    position: relative;
    width: 40% ;
}

.button-div{
    display: block;
    margin-top: 50px;
    position: relative; 
    /*border: 1px solid red;*/
    bottom: -150px;
    left: -7%;
}

.splash{
    top: 130px !important;
    position: relative;
}
.search-items{
    position: relative;
    left: 50%;
    transform: translateX(-14%);
    /*width: 50%;*/

}

.panel-body{
    word-wrap: break-word !important;
}

body,html
{
   height:100%;   
}

.navbar-brand {
  padding-left:30px;
  padding-right:30px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.navbar {
    background-color: #819AA9;
    margin-bottom: 0px;
}


h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}

h2 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 25px;
    line-height: 55px;
}

h4, th {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 15px;
    line-height: 10px;
}
 
p, li, button, td, a {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.col-md-4, .col-md-8, .col-md-6 {
    background-color: #E6F1F6 !important;
    padding-right: 25px;
    padding-left: 25px;
}

.table-parent { 
    width: 80%;}

.table {
    width: 90% !important;
    background-color: #F8F8F8; 
}

#slider {
    background-color: white;
}

.index2 {
    padding-top: 25px;
} 

body { 
    background-color: #ADC18C;
}

.leftturtle { 
    padding-left: 30px;
}

.logo_style {
    float: left;
    padding-top: 5px;
}

.table-head {
    background-color: #819AA9;

}

.parent_btn {
    background-color: #FFFFFF;
    border: 0;
    width: 98%;
    margin: 0;
}


.navbar a {
    color: #dddddd;
}

.navbar a:hover {
    color: black;
}

.big_container {
    height: 100%;
    background-color: #FFFFFF;
}

.form-container { 
    /*width: 50%;*/
    margin: 0 auto;
}

.form-container-container { 
    width: 90%;
}

.btn-width {
    width: 34.5% !important;
    margin-left: -15px;
    margin-top: 10px;
    background-color: #428bca;
}

.navbar-brand {
    font-family: 'Corben', Georgia, Times, serif;
}


#dc-profile-container {
    /*margin-left: 80px;*/
    background-color: white !important;
    margin-top: 20px;
    margin-right: 0;
    width: 99.99%;
}

.wtfff {
    padding: 20px;
    background-color: white;
    border: 0;
    margin-left: 20px;
}

.profile-stats {
    padding-top: 100px;
}

.profile-button-container {
    background-color: white !important;
    border: 0;
}

.form-endorsement {
    margin-left: 25px;
    width: 50%;
}