<!-- Center Profile Form -->

{% extends 'base.html' %}

{% block head %}
    <link href="../static/css/grid.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href="../static/css/custom.css" rel="stylesheet">

  {% endblock %}

{% block body %}

    <div class="container"> 
        <form class="form-register-parent" action="/process_search" method="post"> 
            <h2 "form-signin-heading"> Advanced Search</h2>
                <div class="row">
                   <div class="col-md-4">
                      <h4><input type="checkbox" id="copeT" name="copeT">  <strong>Current Openings</strong></h4>
                      <strong><h4>City</h4></strong>
                      <input type ="address" class="form-control" autofocus name="address"> 

                      <strong><h4>Zipcode</h4></strong>
                      <input type ="zipcode" class="form-control" autofocus name="zipcode"> 



                    <h4>Type of Daycare Center</h4>
                      <p><input type="checkbox" id="dtyp1" name="dtyp1">  Home Based Daycare</p>
                      <p><input type="checkbox" id="dtyp2" name="dtyp2">  Child Care Center<br></p>
                      <p><input type="checkbox" id="dtyp3" name="dtyp3">  Preschool<br></p>
            

                      <strong><h4>Preferred Schedule</h4></strong>
                      <p><input type="checkbox" id="sche1" name="sche1">  Full Time</p>  
                      <p><input type="checkbox" id="sche2" name="sche2">  Part Time</p>
                      <p><input type="checkbox" id="sche3" name="sche3">  Drop In</p>  
                      <p><input type="checkbox" id="sche4" name="sche4">  Weekends</p> 

                    </div>

    
                    <div class="col-md-4 col-md-offset-2"> 
                      <strong><h4>Language(s) Spoken</h4></strong>
                      <p><input type="checkbox" id="lang1" name="lang1">  English</p>
                      <p><input type="checkbox" id="lang2" name="lang2">  American Sign Language<p>
                      <p><input type="checkbox" id="lang11" name="lang11">  Arabic</p>
                      <p><input type="checkbox" id="lang3" name="lang3">  Chinese<p>
                      <p><input type="checkbox" id="lang10" name="lang10">  Farsi</p>
                      <p><input type="checkbox" id="lang4" name="lang4">  French<p>
                      <p><input type="checkbox" id="lang5" name="lang5">  German</p>
                      <p><input type="checkbox" id="lang9" name="lang9">  Japanese</p>
                      <p><input type="checkbox" id="lang6" name="lang6">  Korean</p>
                      <p><input type="checkbox" id="lang7" name="lang7">  Spanish<p>
                      <p><input type="checkbox" id="lang8" name="lang8">  Vietnamese</p>
                    </div>
            </div>
              <p><input class="btn btn-sm btn-primary btn-block btn-width" value="Submit" type="Submit"></input></p>

        </form>
         

    </div>



{% endblock %}


