<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="scripts/application.css">
<script src="scripts/application.js"></script>

</head>
<body>
    <div class="container">
        <div class="header"><h2>jQuery and JavaScript slider</h2></div>
        <p>Project motivation: <a target="_blank" href="http://www.theodinproject.com/javascript-and-jquery/creating-an-image-carousel-slider?ref=lc-pb">The Odin Project</a></p>
        <button id="prev">Prev</button>
        <button id="next">Next</button>
        <div id="slider">
            <li><img  src="images/slider1.jpg"></li>
            <li><img  src="images/slider2.jpg"></li>
            <li><img  src="images/slider3.jpg"></li>
            <li><img  src="images/slider4.jpg"></li>
        </div>

        <ul id="navigation">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>