<!-- Privately editable daycare profile page -->

{% extends 'base.html' %}
{% block head %}
    <link href="../static/css/grid.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/carousel.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href="../static/css/custom.css" rel="stylesheet">    

    <title>Little Turtles</title>
{% endblock %}

{% block body %}

<div class="container2">
    <div class="header2"><h2> {{ daycare_obj.biz_name }} </h2></div>
    <button id="prev">Prev</button>
    <button id="next">Next</button>
    <div id="slider">
    {% for photo in daycare_obj.photos %}

        <li><img  src="{{ photo.photo_link }}" style="height:95%"></li>
    {% endfor %}
    </div>

    <ul id="navigation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

    <div class="row" id="dc-profile-container">
        <div class="col-md-7 wtfff">
            <h2>
                {{ daycare_obj.biz_name }} 

            </h2>

            <h4> About Us <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h4> 
             <div class="edit-area" id="about_us" name="about_us"><p>{{ daycare_obj.about_us }}</p></div>
     
            <h4> Endorsements</h4>
              {% for endorsement in daycare_obj.endorsements %}
              <p>{{ endorsement.endorsement }}</p>
              {% endfor %}
         </div>  
    <div class="col-md-3 wtfff profile-stats">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Neighborhood</strong> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body edit-area" id="neighborhood" name="neighborhood">{{ daycare_obj.neighborhood }}</div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Type of Daycare</strong> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <select class='type-dropdown'>
          {% if daycare_obj.type_of_center_id == 1 %}
            <option selected="1" value="1">Home Based Daycare</option>
            <option value="2">Child Care Center</option>
            <option value="3">Preschool</option>

          {% elif daycare_obj.type_of_center_id == 2 %}
            <option value="1">Home Based Daycare</option>
            <option selected="2" value="2">Child Care Center</option>
            <option value="3">Preschool</option>

          {% elif daycare_obj.type_of_center_id == 3 %}
            <option value="1">Home Based Daycare</option>
            <option value="2">Child Care Center</option>
            <option selected="3" value="3">Preschool</option>
          {% endif %}
          </select>
        </div>        
      </div>
    </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>Hours</strong> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body edit-area" id="hours" name="hours">{{ daycare_obj.opening_time }}</div>
    </div>
    </div>


   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <strong>Capacity</strong>  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body edit-area" id="capacity" name="capacity">{{ daycare_obj.capacity}}</div>
      </div>
    </div>

   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <strong>Staff information</strong>  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body" ><p class="edit-area" id="primary_contact" name="primary_contact">Owner: {{ daycare_obj.primary_contact }}</p>
        <p class="edit-area" id="license_num" name="license_num">License number: {{ daycare_obj.license_num }}</p></div>
      </div>
    </div>

   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <strong>Languages</strong> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body checkbox dropdown_box">
        <p></p>
        {% for language in daycare_obj.languages%}
          <p>{{ language.name }}</p>
        {% endfor %}

        </div>
      </div>
    </div>

   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">
          <strong>Contact</strong> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
            <p class="edit-area" id="phone" name="phone">Phone: {{ daycare_obj.phone }}</p>
            <p class="edit-area" id="email" name="email">Email: {{ daycare_obj.email }}</p>
            <p class="edit-area" id="website" name="website">{{ daycare_obj.web_url }}</a></p>
        </div>
      </div>
    </div>

    </div>
    </div>
    </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/carousel_2.js"></script> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
