<!-- Publicly viewable daycare profile page -->

{% extends 'base_old.html' %}
{% block head %}
    <!-- <link href="../static/css/jumbotron.css" rel="stylesheet"> -->
    <link href="../static/css/grid.css" rel="stylesheet">
<!--     <link href="../static/css/carousel.css" rel="stylesheet"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/carousel.css">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href="../static/css/custom.css" rel="stylesheet">
    <title>Little Turtles: Daycare Pages</title>


{% endblock %}

{% block body %}

<!-- <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div>
					<img class="displayed" src="../static/img/audrey11.jpg" style="height:45%">
			</div>
		</div>
	</div> -->
<!-- {{ daycare_obj.photos }}

        {% for photo in daycare_obj.photos %}
        {{ photo.photo_link }}
                {% endfor %} -->

    <div class="container2">
        <div class="header2"><h2> {{ daycare_obj.biz_name }} </h2></div>
        <button id="prev">Prev</button>
        <button id="next">Next</button>
        <div id="slider">
        {% for photo in daycare_obj.photos %}
            <li><img  src="{{ photo.photo_link }}" style="height:95%"></li>
        {% endfor %}
        </div>

        <ul id="navigation">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
      
      {% if g.logged_in %}
      <form class="form-register-parent" role="form" action="{{ url_for ('send_to_endorse_form') }}" method="post"> 
          <div class="column np"> 
              <button class="btn btn-lg btn-primary btn-block" name="daycare_id" value="{{ daycare_obj.id }}" type="submit">Endorse this daycare</button>
          </div>
      </form>

      <form class="form-register-parent" role="form" action="{{ url_for ('send_to_worksheet') }}" method="post"> 
          <div class="column np"> 
              <button class="btn btn-lg btn-primary btn-block" name="daycare_id" value="{{ daycare_obj.id }}" type="submit">Save to my worksheet</button>
          </div>
      </form>
      {% else %}
      <form class="form-register-parent" role="form"> 
          <div class="column np"> 
              <span title="Log in to endorse this daycare"><button class="btn btn-lg btn-primary btn-block" type="submit" disabled>Endorse this daycare</button></span>
          </div>
      </form>

      <form class="form-register-parent" role="form"> 
          <div class="column np"> 
              <span title="Log in to save this daycare to your worksheet"><button class="btn btn-lg btn-primary btn-block" type="submit" disabled>Save to my worksheet</button></span>
          </div>
      </form>
      {% endif %}
	<div class="row">
		<div class="col-md-8">
			<h2>
				{{ daycare_obj.biz_name }} 
			</h2>
			<h4> About Us
			</h4> 
			
				<p>{{ daycare_obj.about_us }}</p>

        <h4> Endorsements</h4>
        {% for endorsement in daycare_obj.endorsements %}
        <p>{{ endorsement.endorsement }}</p>
        {% endfor %}
		</div>	
	<!-- </div> -->
<!-- 	</div> -->
	<div class="col-md-4 column">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  	<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      	<h4 class="panel-title">
        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          	<strong>Neighborhood</strong>
        	</a>
      	</h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>{{ daycare_obj.neighborhood}}</p>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Type of Daycare</strong>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          {% if daycare_obj.type_of_center_id == 1 %}
              <p>Home Based Daycare</p>
          {% elif daycare_obj.type_of_center_id == 2 %}
              <p>Child Care Center</p>
          {% elif daycare_obj.type_of_center_id == 3 %}
              <p>Preschool</p>
          {% endif %}
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>Hours</strong>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        		<p>{{ daycare_obj.opening_time }}</p>
      </div>
    </div>
  </div>


   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <strong>Capacity</strong>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
      		<p>{{ daycare_obj.capacity }}</p>
      </div>
    </div>
  </div>


   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <strong>Staff information</strong>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
		<p>Owner: {{ daycare_obj.primary_contact }} </p>
		<p>License number: {{ daycare_obj.license_num }}</p>
      </div>
    </div>
  </div>


   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <strong>Language</strong>
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
      {% for language in daycare_obj.languages %}
        <p>{{ language.name }}</p>

    {% endfor %}
    </div>
      </div>
    </div>

   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <strong>Contact</strong>
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
			<p>Phone: {{ daycare_obj.phone }}</p>
			<p>Email: {{ daycare_obj.email }}</p>
			<p>Website: <a href="{{ daycare_obj.web_url }}">{{ daycare_obj.web_url }}</a></p>
			<p>FB Link: {{ daycare_obj.fb_url }}</p>
		</div>
      </div>
    </div>
 


</div>


	</div>
	</div>
<!-- </div> -->

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
        <script src="../static/js/carousel_2.js"></script> 
   

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
{% endblock %}
