<!-- Publicly viewable daycare profile page -->

{% extends 'base.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					Insert Daycare Photo Here
				</h1>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h2>
				{{ daycare_obj.biz_name }} About Us
			</h2>
			<p>
				{{ daycare_obj.about_us }}
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> <button type="button" class="btn btn-default">SaveAsFavorite</button>
		</div>
		<div class="col-md-4 column">
			<h2>
				Contact
			</h2>
			<p>
				Phone: {{ daycare_obj.phone }}
			</p>
			<div>
				Email: {{ daycare_obj.email }}
			</div>
			<div>
				Website: <a href="{{ daycare_obj.web_url }}">{{ daycare_obj.web_url }}</a>
			</div>
			<div>
				FB Link: {{ daycare_obj.fb_url }}
			</div>
			
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>

{% endblock %}
