<!-- Publicly viewable daycare profile page -->

{% extends 'base.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					Insert Daycare Photo Here
				</h1>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h2>
				About Us
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p> <button type="button" class="btn btn-default">SaveAsFavorite</button>
		</div>
		<div class="col-md-4 column">
			<h2>
				Contact
			</h2>
			<p>
				Phone
			</p>
			<div>
				Email
			</div>
			<div>
				Website
			</div>
			<div>
				FB Link
			</div>
			
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>

{% endblock %}
