{% extends 'base_old.html' %}

{% block head %}
    <link href="../static/css/grid.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}

  <h3 id="grid-options">Parent Worksheet</h3>
  <p>Make notes about daycares that interest you</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Daycare Name
          </th>
          <th>
            Level of Interest (1-5)          
          </th>
          <th>
            Last Contact Date
          </th>
          <th>
            Notes
          </th>
          <th>
            Following
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-nowrap"></th>
          <td>Audrey's Daycare</td>
          <td>1</td>
          <td>Emailed on Friday, waiting to hear</td>
          <td>Schedule visit asap</td>
          <td>Yes</td>
        </tr>
        <tr>
        <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
       <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>


{% endblock %}
