{% extends 'base_old.html' %}

{% block head %}
    <link href="../static/css/grid.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}

  <h3 id="grid-options">Parent Worksheet</h3>
  <p>Make notes about daycares that interest you</p>
  <p class="glyphicon glyphicon-pencil">Click to edit table</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>
            Daycare Name
          </th>
          <th>
            Level of Interest (1-5)          
          </th>
          <th>
            Last Contact Date
          </th>
          <th>
            Notes
          </th>
          <th>
            Following
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-nowrap"></th>
          <td>Audrey's Daycare</td>
          <td>1</td>
          <td class="edit-area" id="contacted" name="contacted">Emailed on Friday, waiting to hear</td>
          <td class="edit-area" id="notes" name="notes">Schedule visit asap</td>
          <td>Yes</td>
        </tr>
        <tr>
        <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
       <th class="text-nowrap"></th>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/collapse.js"></script>
    <script src="../static/js/jeditable.js"></script>
    <script src="../static/js/custom_editing.js"></script>
    <script src="../static/js/carousel_2.js"></script> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
