pasted from base.html

              <!--   <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('home_page')}}">Home</a></li>
                        {% if g.user_email %}
                        <li><a href="{{url_for('account_page')}}">My Account</a></li>
                        {% else %}
                        <li><a href="{{url_for('signin')}}">My Account</a></li>
                        {% endif %}

                        {% if g.user_email %}
                        <li> <a href="{{url_for('logout')}}">Logout</a></li>
                        {% else %}
                        <li><a href="{{url_for('login')}}"> Login </a></li>
                        {% endif %}

                    </ul>
                </div> -->
